* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


    /* debug tool - comment when not debugging */
    /* outline: 1px solid red; */
}

:root {    
    --background-color: #272829;
    --special-text: #FFD369;
    --regular-text: #D8D9DA;
    --background-container-color: #000;    
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--background-color);
    overflow-x: hidden;
}

.content {
    background-color: var(--background-container-color);
    border-color: var(--background-color);
    border-style: solid;
    border-width: 0px 80px;
}

/* Navbar */
.navbar {
    background: var(--background-container-color);    
    position: sticky;
    z-index: 100;
    top: 0;
    border-top: 25px solid var(--background-color);
}

.navbar .container {    
    display: flex;
    align-items: center;
    justify-content: space-between;     
    padding: 10px 40px;
}

.navbar .container .logo a {
    color: var(--special-text);    
    font-size: 1.728rem;
    font-weight: bold;
    transition: 0.5s;    
    text-decoration: none;        
    color: var(--regular-text);    
}

.navbar .container .logo a:hover {
    color: var(--special-text);
}

.navbar .main-menu ul {
    display: flex;    
}

.navbar ul li a {
    padding: 7px 20px;    
    font-weight: lighter;
    transition: 0.5s;
    color: var(--regular-text);
    text-decoration: none;
}

.navbar ul li a:hover {
    color: var(--special-text);
}

#portfolioLink {
    color: var(--special-text);
    border: 1px solid var(--special-text);
    border-radius: 400px;
}


/* Section Hero */
.hero .container {
    padding: 0px 40px 100px 40px;  
    display: flex;    
}

.hero .container .hero-heading {    
    /* padding-top: 40px; */
    color: var(--regular-text);    
    margin: auto;
}

.hero .container .hero-image {    
    margin: auto;
}

.hero .container .hero-image img {
    border-radius: 50px;
}

.hero .container .hero-heading #job-title {
    color: var(--special-text);
} 

#portfolioText {
    color: var(--special-text);
    /* border: 1px solid var(--special-text); */
    border-radius: 400px;
    text-decoration: none;
}

.hero .container .hero-heading .links {
    padding-top: 20px;
}

.hero .container .hero-heading .links a {
    padding-right: 10px;
    color: var(--special-text);
}


/* Section Skills */
.skills .container {
    padding: 100px 40px 100px 40px;
    display: flex;
}

.skills-content {
    display: flex;
}

.skill-card {
    padding-right: 10px;
}

.skill-card h6 {
    color: var(--regular-text);
    border: 1px solid var(--regular-text);
    border-radius: 400px;
    padding: 0px 10px;
    min-width: 100px;
    text-align: center;
    font-weight: lighter;
    
}

/* Section Portfolio */
.portfolio .container {
    padding: 100px 40px 100px 40px;        
}

.portfolio .container .projects {
    display: flex;    
    gap: 10px;     
}

/* Project Card */
.project-card {
    height: 400px;
}
.project-card img {
    height: inherit;
    max-width: 200px;
    object-fit: cover;
    object-position: left;
    opacity: 0.5;
    transition: 1s;
}

.project-card :hover {
    opacity: 1;    
}

.project-card.active img {
    max-width: 840px;
    transition: 1s;
    opacity: 1;
}

/* Project Description */
.project-description {
    padding-top: 10px;
    color: var(--special-text);
    /* text-align: center; */
    display: none;
}

.project-description p {
    text-align: justify;
    color: var(--regular-text);    
}

.project-description.active {
    display: block;        
}

.project-link {
    color: var(--special-text);
    padding-right: 10px;
    text-decoration: none;
}




/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3 ease-in-out;
}

.mobile-menu.active {
    right: 0px;
}       

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
    color: white;
    list-style: none;
}

.mobile-menu ul li {
    margin: 10px 0
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
    color: white;
}


/* Text Classes */
h1 {
    font-size: 6.192rem;
    line-height: 1.6;
}

h2 {
    font-size: 2.488rem;
    line-height: 1.6;
}

h3 {
    font-size: 2.074rem;
    line-height: 1.6;
}

h4 {
    font-size: 1.728rem;
    line-height: 1.6;
}

h5 {
    font-size: 1.44rem;
    line-height: 1.6;
}

h6 {
    font-size: 1.2rem;
    line-height: 1.6;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

small {
    font-size: 0.833rem;
    line-height: 1.6;
}



/* Media Queries */
@media (max-width: 670px) {
    
}

@media (max-width: 376px) { 
    /* NavBar */
    .main-menu {
        display: none;
    }

    .hamburger-button {
        display: block;
    }
}